@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

.hero-image {
    background-image: url(images/meghan_holmes_unsplash.jpg);
    height: 100vh;
    background-size: cover;
    position: relative;
    background-position: center;
    font-family: bebas neue;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 23%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3em;
  }


  .hero-text2 {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3em;
  }

  @media only screen and (max-width: 1350px) {
    .hero-text2 {
        top: 50%;
        left: 50%;
    }
}

  @media only screen and (max-width: 1350px) {
    .hero-text {
        top: 30%;
        left: 50%;
    }
}

.subtext {
    font-size: large;
    color: rgb(255, 255, 255);
    font-family: roboto;
}

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon {
  color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}

@media only screen and (max-width: 1350px) {
    .banner-image {
margin-top: -1em;
    }
}
